<!DOCTYPE HTML>
<html lang="en">
<head>
<title>GIFS</title>
</head>
<body>
<ul>
{% for title_key in eps %}
<h1>{{ title_key }}</h1>
{% for text,url in eps[title_key] %}
<li><a href="{{ url }}">{{ text }}</a></li>
{% endfor %}
{% endfor %}
</ul>
</body>
</html>
