<!DOCTYPE HTML>
<html lang="en">
<head>
<title>GIFS</title>
</head>
<body>
<h1 id="top">Contents</h1>
{% for sub_id_key in eps %}
<p><a href={{"#"~sub_id_key}}>{{eps[sub_id_key]["title"]}}</a></p>
{% endfor %}
<ul>
{% for sub_id_key in eps %}
<h2 id={{sub_id_key}}>{{ eps[sub_id_key]["title"] ~"  -  (<a href='#top'>top</a>)"}}</h2>
{% for text,url in eps[sub_id_key]["links"] %}
<li><a href="{{ url }}">{{ text }}</a></li>
{% endfor %}
{% endfor %}
</ul>
</body>
</html>
